@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 50;
}

.titleContainer h1 {
  font-size: 150px !important;
  font-family: $tangerine-cursive;
  margin: 0;
  line-height: 1.1em;
}

.titleWrapper {
  background: $primary-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%,
    0 100%
  );
}

@media (max-width: 980px) {
  .titleContainer h1 {
    font-size: 130px !important;
  }
}

@media (max-width: 850px) {
  .titleContainer h1 {
    font-size: 100px !important;
  }
}

@media (max-width: 655px) {
  .titleContainer h1 {
    font-size: 80px !important;
  }
}

@media (max-width: 535px) {
  .titleContainer h1 {
    font-size: 70px !important;
  }
}

@media (max-width: 460px) {
  .titleContainer h1 {
    font-size: 60px !important;
  }
}

@media (max-width: 393px) {
  .titleContainer h1 {
    font-size: 45px !important;
  }
}

@media (max-width: 290px) {
  .titleContainer h1 {
    font-size: 35px !important;
  }
}
