.text-home-container {
  color: #ffffff;
}

.text-i-am {
  margin: 0 0 0 90px;
}

.text-home-title {
  margin: 0;
}

.subtitle {
  margin: 0px;
  display: flex;
  margin-left: 74%;
  font-size: 20px;
}

@media (max-width: 890px) {
  .text-i-am {
    font-size: 15px;
    margin: 0 0 0 80px;
  }

  .subtitle {
    margin-left: 70%;
    font-size: 18px;
  }
}

@media (max-width: 825px) {
  .text-i-am {
    font-size: 12px;
    margin: 0 0 0 50px;
  }

  .subtitle {
    margin-left: 73%;
    font-size: 14px;
  }
}

@media (max-width: 685px) {
  .text-i-am {
    margin: 0 0 0 50px;
    font-size: 15px;
  }
}

@media (max-width: 655px) {
  .text-i-am {
    margin: 0 0 0 46px;
    font-size: 13px;
  }
}

@media (max-width: 515px) {
  .text-i-am {
    margin: 0 0 0 35px;
    font-size: 11px;
  }
  .subtitle {
    font-size: 12px;
    margin-left: 70%;
  }
}

@media (max-width: 394px) {
  .text-i-am {
    margin: 0 0 0 23px;
    font-size: 8px;
  }
  .subtitle {
    font-size: 8px;
    margin-left: 70%;
  }
}

@media (max-width: 341px) {
  .Typewriter {
    font-size: 10px;
    margin-left: 46%;
  }

  .text-i-am {
    margin: 0 0 0 20px;
    font-size: 10px;
  }
}
