@import "../../styles/colors.scss";

.container-about {
  display: flex;
  text-align: start;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  height: 90%;
  color: #fff;

  p {
    text-align: justify;
  }

  img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    background: $primary-color;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container-grid-about {
    width: 70% !important;

    .title-about {
      text-align: center;
    }

    .picture-avatar {
      width: 370px;
      height: 240px;

      @media screen and (max-width: 540px) {
        width: 300px;
        height: 200px;
      }

      @media screen and (max-width: 414px) {
        width: 250px;
        height: 150px;
      }
    }

    .line {
      display: flex;
      width: 370px;
      height: 2px;
      background: $primary-color;

      @media screen and (max-width: 580px) {
        width: 300px;
      }

      @media screen and (max-width: 480px) {
        width: 200px;
      }
    }

    .skills {
      margin-top: 10px;
      display: flex;
      width: 200px;
      flex-direction: column;

      .skills-logos {
        display: flex;
        justify-content: space-between;

        .html {
          width: 40px;
        }

        .css {
          width: 40px;
        }

        .javascript {
          width: 40px;
        }

        .react {
          width: 50px;
        }
      }
    }

    .title-hobbies {
      background: $primary-color;
      margin-top: 20px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .picture-music {
      margin-top: 20px;
      width: 370px;
      height: 270px;

      @media screen and (max-width: 540px) {
        width: 300px;
        height: 200px;
      }

      @media screen and (max-width: 414px) {
        width: 250px;
        height: 150px;
      }
    }
  }
}

@media (max-width: 540px) {
  .picture-avatar {
    width: 200px;
    height: 170px;
  }

  .picture-music {
    width: 300px;
    height: 170px;
  }
}
