@import "../../styles/colors.scss";

.container-contact {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  align-items: center;
  text-align: center;
  flex-direction: column;

  p {
    color: #fff;
    text-align: start;
    width: 100%;
    margin-left: 23px;
    font-size: 23px;
  }

  .title-contact {
    margin: 0;
    background: $primary-color;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-container-contact {
    width: 100%;
  }
}
