@import "../../styles/colors.scss";

.container-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 2.5rem;
  z-index: 3;
}

.container-icons {
  margin-bottom: 5px;
}

.github {
  width: 25px;
  height: 25px;
}

.github:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.8s ease-in-out 0s;
}

.twitter {
  width: 25px;
  height: 25px;
}

.twitter:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.8s ease-in-out 0s;
}

.linkedin {
  width: 23px;
  height: 23px;
}

.linkedin:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.8s ease-in-out 0s;
}

.line-contact {
  width: 2px;
  height: 3rem;
  background: $primary-color;
}

@media (max-width: 980px) {
  .container-social {
    left: 1.5rem;
  }

  .github {
    width: 23px;
    height: 23px;
  }

  .twitter {
    width: 23px;
    height: 23px;
  }

  .linkedin {
    width: 21px;
    height: 21px;
  }
}
