.container-layout {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-layout::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

.header-layout {
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-layout {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 2;
}
